langchain 
wikipedia 
langchain-community 
langchain-openai
langchain-anthropic
python-dotenv
pydantic
duckduckgo-search
fastapi
uvicorn
openai
sqlmodel
python-dotenv
sqlite3
requests
typing-extensions
docker
langfuse